<div class="board">

  <mat-form-field style="grid-column-end: span 10;">
    <input matInput placeholder="Project name">
  </mat-form-field>
  <mat-form-field style="grid-column-end: span 4;">
    <input matInput placeholder="Project name">
  </mat-form-field>
  <mat-form-field style="grid-column-end: span 3;">
    <input matInput placeholder="Designed for">
  </mat-form-field>
  <mat-form-field style="grid-column-end: span 3;">
    <input matInput placeholder="Designed by">
  </mat-form-field>

  <app-variable-list class="boardColumn fullColumn" style="" title="Key Partners"></app-variable-list>
  
  <app-variable-list class="boardColumn halfColumnUp" title="Key Activities"></app-variable-list>
  <app-variable-list class="boardColumn halfColumnDown" title="Key Resources"></app-variable-list>

  <app-variable-list class="boardColumn fullColumn" style="" title="Value Propositions"></app-variable-list>

  <app-variable-list class="boardColumn halfColumnUp" title="Customer Relationships"></app-variable-list>
  <app-variable-list class="boardColumn halfColumnDown" title="Channels"></app-variable-list>

  <app-variable-list class="boardColumn fullColumn" style="" title="Customer Segments"></app-variable-list>

  <app-variable-list class="line" title="Cost Structure"></app-variable-list>
  <app-variable-list class="line" title="Revenue Streams"></app-variable-list>

</div>
