<div class="board">

  <div style="grid-column-end: span 4; background: white;">
    ProjectName:
  </div>
  <div style="grid-column-end: span 2; background: white;">
    Designed for:
  </div>
  <div style="grid-column-end: span 2; background: white;">
    Designed by:
  </div>
  <div style="background: white;">
    Date:
  </div>
  <div style="background: white;">
    Version:
  </div>
  
  <div class="boardColumn fullColumn" style="grid-column-start: 1; grid-row-start: 2">
    Key Partners
  </div>
  
  <div class="boardColumn halfColumnUp">
    Key Activities
  </div>
  <div class="boardColumn halfColumnDown">
    Key Resources
  </div>
  
  <div class="boardColumn fullColumn" style="grid-column-start: 5; grid-row-start: 2">
    Value Propositions
  </div>
  
  <div class="boardColumn halfColumnUp">
    Customer Relationships
  </div>
  <div class="boardColumn halfColumnDown">
    Channels
  </div>
  
  <div class="boardColumn fullColumn" style="grid-column-start: 9; grid-row-start: 2;">
    Customer Segments
  </div>

  <div class="line">
    Cost Structure
  </div>
  <div class="line">
    Revenue Streams
  </div>

</div>
